body {
  background-color: #333;
  font-family: Helvetica, Arial, sans-serif;
  color: #fafafa;
}

.container {
  width: 640px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.5);
}

.logo-inner {
  font-weight: 300;
  color: #a3c84b;
  font-family: Monaco;
  padding: 5px 20px;
  font-size: 54px;
  background: rgba(0, 0, 0, 0.5);
  text-transform: uppercase;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.9),
               0 0 50px  rgba(224, 255, 80, 0.5),
               0 0 20px  rgba(224, 255, 80, 0.3);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1);
  border-radius: 2px;
}

.selector-input {
  float: left;
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding: 10px;
  width: 620px;
  border: 1px solid #222;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), inset 0 2px 10px rgba(0, 0, 0, 0.4);
  border-right: 0;
}

#results {
  width: 620px;
  padding: 10px;
  margin-top: 100px;
  background: -webkit-linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.0));
  border-radius: 3px;
}

.hidden {
  visibility: hidden;
}

#score {
  width: 100%;
  height: 2em;
  border-radius: 4px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom:  30px;
}

#score::-webkit-meter-bar {
  background: #bdc3c7;
}

meter::-webkit-meter-optimum-value {
  background: #79cc2d; /* Green */
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

meter::-webkit-meter-suboptimum-value {
  background: #f1c40f; /* Yellow */
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
    
}

meter::-webkit-meter-even-less-good-value {
  background: #e74c3c; /* Red */
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.blocks {
  margin-top: 2em;
  text-align: center;
}
.block {
  display: inline-block;
  background: #000;
  padding: 10px 25px;
  color: #fff;
}

.block.header {
  color: #fff;
  background: none;
}
.block.header > a {
  color: #fff;
  text-decoration: none;
}

.category {
  color: #333;
}
.category-active {
  color: #fff;
}

#messages {
  margin-top: 2em;
  list-style: none;
  text-align: center;
}
.message {
  padding: 10px;
}

/* Meter Polyfill */

.meter-frame {
  height: 2em;
  width: 100%;
  padding: 2px;
  border: 1px solid black;
  background-color: white;
}

.meter-bar {
  height: 2em;
  border: none;
  background-color: #ff0;
}
