body {
  background-color: #ecf0f1;
  font-family: Helvetica, Arial, sans-serif;
  color: #2c3e50;
}

.container {
  width: 640px;
  margin: 0 auto;
}

.logo {
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 60px;
  margin: 120px auto 40px;
}

.logo-inner {
  font-weight: 300;
  color: #e74c3c;
  font: 300 italic 64px serif;
  text-transform: lowercase;
  border-radius: 2px;
}

.selector-input {
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 300;
  padding: 10px;
  width: 620px;
  border: 0;
  border-radius: 4px;
  border: 1px solid transparent;
}

.selector-input:focus {
  outline: 0;
  border: 1px solid rgba(52, 152, 219, .6);
}

#results {
  padding: 20px 0;
  margin-top: 20px;
  border-radius: 3px;
  text-align: center;
}

.hidden {
  visibility: hidden;
}

#score {
  width: 100%;
  height: 2em;
  border-radius: 4px;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom:  30px;
}

#score::-webkit-meter-bar {
  background: #bdc3c7;
}

meter::-webkit-meter-optimum-value {
  background: #79cc2d; /* Green */
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

meter::-webkit-meter-suboptimum-value {
  background: #f1c40f; /* Yellow */
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
    
}

meter::-webkit-meter-even-less-good-value {
  background: #e74c3c; /* Red */
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
}

.blocks {
  text-align: center;
  display: inline-block;
}

#specificity {
  font-size: 14px;
}

.block {
  display: inline-block;
  background: rgba(0,0,0,0.1);
  padding: 10px 15px;
  border-radius: 3px;
  font-size: 14px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.counter {
  border-radius: 0;
  margin-left: -2px;
}

.counter-first {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.counter-last {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.category {
  opacity: 0.3;
}

.category-active {
  opacity: 1;
}


.header {
  background: none;
  opacity: 1;
  padding-right: 5px;
  font-size: 14px;
}
.header > a {
  color: inherit;
  text-decoration: none;
}

#messages {
  margin-top: 2em;
  list-style: none;
  text-align: center;
}
.message {
  padding: 10px;
}

/* Meter Polyfill */

.meter-frame {
  height: 2em;
  width: 100%;
  padding: 2px;
  border: 1px solid black;
  background-color: white;
}

.meter-bar {
  height: 2em;
  border: none;
  background-color: #ff0;
}
